<h1 class>Produtos</h1>
{{#if produtos.length}}
    <table class="table">
    {{#each produtos}}
        <tr>
            <td>{{this.nome}}</td>
            <td>Preço: R$ {{this.preco}}</td>
            <td>Descrição: {{this.descricao}}</td>
        </tr>
    {{/each}}
    </table>
{{else}}
    <p>Sem produtos disponíveis no momento.</p>
{{/if}}