<h1>Adicionar Produto</h1>
<form action="/submit" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>
    <label for="descricao">Descrição:</label>
    <input type="textarea" id="descricao" name="descricao">
    <label for="preco">Preço:</label>
    <input type="text" id="preco" name="preco" required>
    <label for="estoque">Estoque:</label>
    <input type="text" id="estoque" name="estoque">
    <label for="categoria">Categoria:</label>
    <input type="text" id="categoria" name="categoria">
    <input type="button" value="Salvar Produto">
</form>