<h1>Adicionar Produto</h1>
<form>
    <label for="nome">Nome:</label>
    <input type="text" class="form-control" id="nome" name="nome" required>
    <label for="descricao">Descrição:</label>
    <input type="textarea" class="form-control" id="descricao" name="descricao">
    <label for="preco">Preço:</label>
    <input type="number" class="form-control" id="preco" name="preco" required>
    <label for="estoque">Estoque:</label>
    <input type="number" class="form-control" id="estoque" name="estoque">
    <label for="categoria">Categoria:</label>
    <select id="categoria" class="form-select">
    {{#if categoria.length}}
        {{#each categoria}}
            <option class="form-control">{{this.nome}}</option>
        {{/each}}
    {{else}}
        <option class="form-control">Sem Categorias</option>
    {{/if}}
    </select>

    <button class="btn btn-primary" type="submit">Salvar Produto</button> 
</form>